html, body {
    background-image: url("/img/floor-tile.png");
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
/* Background pattern from Toptal Subtle Patterns */
