html, body {
    background-image: url("/img/floor-tile.png");
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.bod-b-1 {
    padding: 4px 1.2rem;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(216, 208, 189), rgb(187, 176, 129));
}

.bod-bb-r-1{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.bod-bt-r-1{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.bod-bg-white{
    background-color: #fff;
}

.bod-h1{
    font-size: 1.4vw;
}

.bod-text-wrap{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.bod-h2{
    font-size: 1.82vw;
}

.bod-h3{
    font-size: 2.6vw;
}
/* Background pattern from Toptal Subtle Patterns */
